<!DOCTYPE html>
<html lang ="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/main.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Layout page</title>
  </head>

  <body>
    <!-- start navbar -->
    <header>
        <img class="logo" src="images/logo.svg" alt="logo">
        <nav>
            <ul class ="nav_links">
                <li><a href="home">HOME</a></li>
                <li><a href="about">ABOUT</a></li>
                <!-- add condition here id user in DB login else regsiter -->
                <li><a href="login">LOGIN/REGISTER</a></li>
            </ul>
        </nav>
    </header>
    <!-- end navbar -->

    <!-- start sidebar -->
    <!-- COMPLETE THESE SIDDEBAR FUNCTIONS in home.html -->
    {% block sidebar %} {% endblock sidebar%}
    <!-- complete the html of about.html page  -->
    {% block about %} {% endblock about %}

    <!-- complete the login.html -->
    {% block login %} {% endblock login %}
  </body>
</html>
